.games {
    height: calc(100vh - 75px);
    background-color: rgb(216, 216, 216);
}

.games2 {
    height: calc(100vh - 75px);
    background-color: rgb(56, 56, 56);
    color: white;
}

$text: calc(1.75rem + 1.5vw);

#offset {
    height: 75px;
}
#home {
    position: relative;
}

.img-wrapper, .mcgill-title{
    background-color: black;
}

// PC
@media (min-width: 992px) {
    .img-wrapper {
        height: calc(75vh - 75px);
        align-items: center;
    }

    .main-image {
        max-width: 100%;
    }

    .mcgill-title {
        height: 25vh;
    }

    .arrow {
        position: absolute;
        bottom: 2%;
        right: 2%;
    }
}

// Mobile
@media (max-width: 991px) {
    .img-wrapper {
        height: calc(50vh - 75px);
        padding-bottom: 2rem;
        overflow: hidden;
    }

    .main-image {
        min-height: 70%;
        max-width: unset;
    }

    .mcgill-title {
        height: 40vh;
    }

    .arrow {
        height: 10vh;
        align-items: center;
        background-color: black;
    }
}

.arrow .btn {
    height: fit-content;
    font-size: 2rem;
    border: none;
    color:white;
} 

.mcgill-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-image {
    max-height: 100%;
    width: auto;
}

.mcgill-title h1 {
    text-align: center;
    text-transform: uppercase;
    color: white; 
    font-weight: bold;
    font-size: $text;
}
  
.roller{
    height: calc($text + 0.1rem);
    line-height: $text;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ed1b2f;
}
  
  
.roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 7s infinite;  
}

#rolltext {  
    animation: slide-mob 7s infinite;  
}
  
@keyframes slide {
    0% {
      top: 0;
    }
    33% {
      top: calc(-1 * $text);    
    }
    66% {
      top: calc(-2 * $text);
    }
}
    
@keyframes slide-mob {
    0% {
        top: 0;
    }
    33% {
        top: calc(-1 * $text / 2);    
    }
    66% {
        top: calc(-1 * $text);
    }
}