<app-navbar></app-navbar>
<div data-bs-spy="scroll" data-bs-target="navbar-menu">
    <div id="offset"></div>
    <div id="home" class="flex-column shadow">
        <div class="mcgill-title py-2">
            <h1>MCGILL ENGINEERING GAMES
                <div class="roller my-2">
                    <span id="rolltext">DO<br/>
                        THE<br/>
                        GAMES<br/><br/>
                    </span>
                </div>
            </h1>
        </div>
        <div class="img-wrapper w-100 d-flex justify-content-center">
            <img src="../assets/banquet.jpg" class="main-image">
        </div>
        <div class="d-flex justify-content-center arrow">
            <a class="btn btn-primary btn-outline-0 bg-transparent" href="#games" role="button">
                <i class="bi bi-chevron-down"></i>
            </a>
        </div>
    </div>
    
    <div id="games" class="games text-center p-3">
        <h1>THE GAMES</h1>
    </div>

    <div id="sponsors" class="games2 text-center p-3">
        <h1>SPONSORS</h1>
    </div>

    <div id="delegation" class="games text-center p-3">
        <h1>DELEGATION</h1>
    </div>

    <div id="contact" class="games2 text-center p-3">
        <h1>CONTACT US</h1>
    </div>
</div>
