
<div class="d-flex flex-column">
  <div class="row">
    <p>sponsors works!</p>
  </div>
  <div class="d-flex row justify-content-evenly">
      <button type="button" class="btn btn-primary btn-package m-3 p-2">
        <a class="link-light text-decoration-none" target="_blank" href="\..\..\..\..\assets\SPONSORSHIP_PACKAGE_EN_2024.pdf">Sponsorship package 2024 (EN)</a>
      </button>
      <button type="button" class="btn btn-primary btn-package m-3 p-2">
        <a class="link-light text-decoration-none" target="_blank" href="\..\..\..\..\assets\CAHIER_COMMANDITES_FR_2024.pdf">Cahier de commandites 2024 (FR)</a>
      </button>
  </div>
</div>

